.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}